html {
    font-family: Arial;
    background: #ffdfcc;
    padding: 0rem;
}

body {

    margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main {
    margin-top: 60px;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active, #about {
  background-color: #04AA6D;
  color: white;
}


.chart {
    background-color: transparent;
    margin: auto;
    width: 50%;
    padding: 10px;
}